{% extends 'base.html' %}

{% block title %} 404 - Não Encontrada {% endblock title %}

{% block content %}

  <!-- Cartão de boas-vindas e breve descrição do projeto -->
  <div class="card horizontal z-depth-0">
    <div class="card-stacked">
      <div class="card-content">
        <h2 class="header">Página não encontrada</h2>
        <h6>Tente uma das opções abaixo:</h6>
      </div>
      <div class="card-action">
        <a href="{% url 'home' %}" class="teal-text">Página principal</a>
        <a href="{% url 'post_list' %}" class="teal-text">Ver posts</a>
      </div>
    </div>
  </div>
            
{% endblock content %}