<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% block title %} Blog {% endblock title %}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="blue-grey lighten-5">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="{% url 'home' %}" class="brand-logo">&nbsp; Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'post_list' %}" >Posts</a></li>

        <!-- Renderiza o botão de entrar se o usuário não estiver logado,
        ou o botão se sair caso estiver -->
        <li>
          {% if user.is_authenticated %}
            <a 
              class="waves-effect waves-teal btn teal accent-1 grey-text text-darken-4 bold-text"
              href="{% url 'logout' %}"
            >
              <strong>Sair</strong>
            </a>
          {% else %}
            <a 
              class="waves-effect waves-teal btn teal accent-1 grey-text text-darken-4 bold-text"
              href="{% url 'login' %}"
            >
              <strong>Entrar</strong>
            </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  <main class="container">
    {% block content %}
    {% endblock content %}  
  </main>
</body>
</html>